<%include ../include/header.html%>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="title"><%=article.title%></p>
            </div>
            <div class="panel-body">
                <p class="text"><%=article.content%></p>
            </div>

            <div class="panel-footer">
                <%if (user && user._id==article.user) {%>
                <a class="btn btn-warning" href="/article/edit/<%=article._id%>">编辑</a>
                <a class="btn btn-danger" href="/article/remove/<%=article._id%>">删除</a>
                <%}else{%>
                <span class="name">作者：<%=article.user.username%></span>
                <span class="time pull-right"><%=article.createAt.toLocaleString()%></span>
                <%}%>
            </div>
        </div>

        <%if(article.comments && article.comments.length){%>
        <div class="panel panel-default">
            <div class="panel-body">
                <%article.comments.forEach(function(comment){%>
                <div class="media">
                    <div class="media-left">
                        <img class="avatar" src="<%=comment.user.avatar%>">
                    </div>
                    <div class="media-body">
                        <p><span class="name"><%=comment.user.username%></span><span class="time pull-right"><%=comment.createAt.toLocaleString()%></span></p>
                        <p class="text"><%=comment.content%></p>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
        <%}%>

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/comment/add?articleId=<%=article._id%>" method="post">
                    <div class="form-group">
                        <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <%if(user){%>
                        <button type="submit" class="btn btn-primary">评论</button>
                    <%}else{%>
                        <a href="/user/signin" type="button" class="btn btn-info">请先登录</a>
                    <%}%>
                </form>
            </div>
        </div>
    </div>
</div>
<%include ../include/footer.html%>