<%include ../include/header.html%>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%=article.title%>
            </div>
            <div class="panel-body">
                <%=article.content%>
            </div>
            <%if (user && user._id==article.user) {%>
            <div class="panel-footer">
                <a class="btn btn-warning" href="/article/edit/<%=article._id%>">编辑</a>
                <a class="btn btn-danger" href="/article/remove/<%=article._id%>">删除</a>
            </div>
            <%}%>
        </div>

        <%if(article.comments && article.comments.length){%>
        <div class="panel panel-default">
            <div class="panel-body">
                <%article.comments.forEach(function(comment){%>
                <div class="media">
                    <div class="media-left">
                        <img class="avatar" src="<%=comment.user.avatar%>">
                    </div>
                    <div class="media-body">
                        <p><%=comment.content%></p>
                        <span><%=comment.createAt.toLocaleString()%></span>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
        <%}%>

        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/comment/add?articleId=<%=article._id%>" method="post">
                    <div class="form-group">
                        <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <%if(user){%>
                        <button type="submit" class="btn btn-primary">评论</button>
                    <%}else{%>
                        <a href="/user/signin" type="button" class="btn btn-info">请先登录</a>
                    <%}%>
                </form>
            </div>
        </div>
    </div>
</div>
<%include ../include/footer.html%>